@model TellToAsk.Model.Question

<div class="control-group">
    @Html.LabelFor(model => model.TargetedMinAge, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.TargetedMinAge)
        @Html.ValidationMessageFor(model => model.TargetedMinAge, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(model => model.TargetedMaxAge, new { @class = "control-label" })
    <div class="controls">
        @Html.EditorFor(model => model.TargetedMaxAge)
        @Html.ValidationMessageFor(model => model.TargetedMinAge, null, new { @class = "help-inline" })
    </div>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.TargetedGender, new { @class = "control-label" })
    <div class="controls">
        @(Html.DropDownListFor(g => g.TargetedGender, (IEnumerable<SelectListItem>)ViewData["genders"]))
    </div>
</div>