@model TellToAsk.Areas.LoggedUser.Models.QuestionModel

<h1 class="break-word">
    @Model.QuestionTitle
</h1>
<p class="break-word">
    @Model.QuestionText
</p>

<table>
    <thead>
        <tr>
            
        </tr>
    </thead>
</table>

@*@if (Model.AnswersCount() == 0)
{
     <p>
        No answer for this question, yet.
    </p>
}
else{*@
    
   
    
    @(Html.Kendo().Grid<TellToAsk.Areas.LoggedUser.Models.AnswerModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Comment).Title("Answer").Groupable(false);
        columns.Bound(p => p.DateAnswered);

        })
                 .ClientRowTemplate(
                "<tr>" +
                    "<td class='employeeID'>" +
                        "#: Comment #"+
                    "</td>" +
                 "</tr>"
            )
            .ClientAltRowTemplate(
                         "<tr>" +
                            "<td class='employeeID'>" +
                                "#: Comment #" +
                            "</td>" +
                         "</tr>"
            )
        .Groupable()
        .Pageable() 
        .Sortable()
        .Scrollable()
        .Filterable()
                
        .DataSource(dataSource => dataSource
        .Ajax()
            .Read(read => read.Action("GetQuestionAnswers", "LoggedUser").Data("getQuestionId")))
        )

   
       
  

  
@Scripts.Render("~/bundles/kendo")
<script type="text/javascript">

    
    function getQuestionId() {

        var val = @(Model.QuestionId);

        return {
            id : val
            };
    }
</script>
    
    
