@model TellToAsk.Areas.LoggedUser.Models.QuestionModel

<h1 class="break-word">
    @Model.QuestionTitle
</h1>
<p class="break-word">
    @Model.QuestionText
</p>

<table >
    <thead>
        <tr>
            
        </tr>
    </thead>
</table>

    @(Html.Kendo().Grid<TellToAsk.Areas.LoggedUser.Models.AnswerModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.Comment).Title("Answer").Groupable(false);
        columns.Bound(p => p.AnswerId).Visible(false);
        columns.Bound(p => p.DateAnswered);

        })
                 .ClientRowTemplate(
                "<tr>" +
                    "<td class='employeeID'>" +
                        "#: Comment # <br/>"+
                        "<button class='btn btn-sucsses' onclick='requestActionOnComment" +
                                                 "(\"useful\", #: AnswerId #)" +
                                        "'>Useful</button>" +
                                "<button class='btn btn-error' onclick='requestActionOnComment" +
                                                        "(\"not useful\", #: AnswerId #)" +
                                        "'>Not useful</button>" +
                                 "<button class='btn btn-warrning' onclick='requestActionOnComment" +
                                        "(\"spam\", #: AnswerId #)" +
                                        "'>Spam</button>" +
                    "</td>" +
                 "</tr>"
            )
            .ClientAltRowTemplate(
                         "<tr>" +
                            "<td class='employeeID'>" +
                                "#: Comment #" +
                            "</td>" +
                         "</tr>"
            )
        .Groupable()
        .Pageable() 
        .Sortable()
        .Scrollable()
        .Filterable()
                
        .DataSource(dataSource => dataSource
        .Ajax()
            .Read(read => read.Action("GetQuestionAnswers", "LoggedUser").Data("getQuestionId")))
        )

   
       
  

  
@Scripts.Render("~/bundles/kendo")
<script type="text/javascript">

    function requestActionOnComment(actionName, answerId) {

        var com = confirm("Are you sure you want to mark this comment as " + actionName + "?");

        if (com) {

            switch (actionName) {

                case "spam":
                    $.getJSON("MarkAnswerAsSpam", { id: answerId}, function(questionModel) {
                        $("#Grid").data("kendoGrid").dataSource.read();
                    }); 
                    break;

                case "useful":
                    $.getJSON("VoteForAnswer", { id: answerId}, function(questionModel) {
                       
                        $("#Grid").data("kendoGrid").dataSource.read();
                    }); 
                    break;

                case "not useful":
                    $.getJSON("VoteForAnswer", { id: answerId}, function(questionModel) {
                        $("#Grid").data("kendoGrid").dataSource.read();
                    }); 
                    break;

                default:
        
            }
            
        }

    }
    
    function getQuestionId() {

        var val = @(Model.QuestionId);

        return {
            id : val
            };
    }
</script>
    
    
