@model TellToAsk.Areas.LoggedUser.Models.DetailsModel

@if (Model == null)
{
    <p>
        No question found.
    </p>
}
else if (Model.Answers.Count() == 0)
{
     <p>
        No answer for this question, yet.
    </p>
}
else{
    
    <p>
        @Model.QuestionText;
    </p>
    
    @(Html.Kendo().Grid<TellToAsk.Areas.LoggedUser.Models.AnswerModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.AnswerId).Visible(false);
        columns.Bound(p => p.Comment).ClientTemplate(
        "#= Comment.length > 10 ? (Comment.substring(0, 10).concat('...')) : Comment #"
    ).Groupable(false);
        columns.Command(command => command.Custom("ViewDetails").Click("showDetails"));

        })
        .Groupable()
        .Pageable()
        .Sortable()
        .Scrollable()
        .Filterable()
        .DataSource(dataSource => dataSource
        .Ajax()
            .Read(read => read.Action("GetQuestionAnswers", "LoggedUser").Data("getQuestionId")))
        )

   
        @Scripts.Render("~/bundles/kendo")
  

    @(Html.Kendo().Window().Name("Details")
        .Title(@Model.QuestionText)
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(300)       
)

 <script type="text/x-kendo-template" id="template">
    <div id="details-container">
        @*<em id="question-text-popup">@(this.Server.UrlEncode(Model.QuestionText))</em>*@
        <p>#= Comment #</p>
    </div>
</script>

<script type="text/javascript">

    $( document ).ready(function() {
       
        debugger;
       

    });

    
    function showDetails(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var wnd = $("#Details").data("kendoWindow");
        var detailsTemplate = kendo.template($("#template").html());
        wnd.content(detailsTemplate(dataItem));
        wnd.center().open();

        //var html = $("#question-text-popup").text();

        //$.getJSON("URIDecode", { Data: html}, function(data) {
        //    $("#question-text-popup").html(data);
        //});    
    }

    function getQuestionId() {

        var val = @(Model.QuestionId);

        return {
            id : val
            };
    }
</script>
    
    
}