@model TellToAsk.Areas.LoggedUser.Models.AnswerModel

@(Html.Kendo().Grid<TellToAsk.Areas.LoggedUser.Models.QuestionModel>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.QuestionId).Visible(false);
        columns.Bound(p => p.QuestionTitle).Title("Question").ClientTemplate(
        "#: QuestionTitle.length > 100 ? (QuestionTitle.substring(0, 100).concat('...')) : QuestionTitle #"
).Groupable(false);
        columns.Bound(p => p.Category.Name).Title("Category").Width("400px");

    })
    .Groupable()
    .Pageable()
    .Sortable()
     .Selectable()
    .Filterable()
     .Events(ev =>
        {
            ev.Change("showDetails");
        })
    .DataSource(dataSource => dataSource
    .Ajax()
        .Read(read => read.Action("GetTargetedQuestions", "LoggedUser")))
)


@*TO DO multiple kendo windows*@
@(Html.Kendo().Window().Name("Details")
    .Title("Answer Question")
    .Visible(false)
    .Modal(false)
    .Draggable(true)
    .Pinned(true)
        .Animation(animation =>
            {
                animation.Open(open =>
                {
                    open.Expand(ExpandDirection.Vertical);
                   
                    open.Zoom(ZoomDirection.In);
                   
                    open.Fade(FadeDirection.In);
                    
                });

                animation.Close(close =>
                {
                    close.Reverse(true);

                    close.Expand(ExpandDirection.Vertical);

                    close.Zoom(ZoomDirection.Out);
                    
                    close.Reverse(false);

                    close.Fade(FadeDirection.In);

                });
            })
    .Resizable()
    .Width(1200)
    .Height(450)
    .Events(ev => ev.Activate("maximizeWindowOnLoad"))
    .Actions(actions => actions.Maximize())                
)

<script type="text/x-kendo-template" id="template">

    <div id="details-container">
        <em class="break-word">#: QuestionText #</em>

        @using (Html.BeginForm("AnswerToQuestion", "LoggedUser"))
        {
          <div class="control-group">
            @*@Html.LabelFor(model => model.Comment, new { @class = "control-label" })*@
            <div class="controls">
                <div class="row">
                    <div class="span10">
                        @Html.TextAreaFor(model => model.Comment, new { @class = "width100Pro", @rows = 10 })
                    </div>
                    <div class="span2">
                        <input type="button" id="cancel-answer" onclick="closeKWin()" class="btn btn-success" value="Cancel" />
                        
                        <br />
                        <br />
                        <br />

                        <input type="submit" class="btn btn-success" value="Answer" />
                    </div>
                </div>
                

                @if (Model.QuestionId == 0)
                {
                <input type="hidden" name="QuestionId" value="#= QuestionId #" />
                }
                else
                {
                <input type="hidden" name="QuestionId" value="@(Model.QuestionId)" />
                }

                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
            
           
        }
    </div>
</script>

<script>
    $( document ).ready(function() {

        window.manageAnswerWindow = function manageAnswerWindow(questionModel) {
       
            var wnd = $("#Details").data("kendoWindow");
            $("#question-text-popup").html(questionModel);
            wnd.title(questionModel.QuestionTitle);
            
           // .draggable();

            if (!questionModel.QuestionText) {
                questionModel.QuestionText = ""; 
            }

            wnd.content(detailsTemplate(questionModel));
            wnd.open();
        };

        var val = @(Model.QuestionId);

        if (val != 0) {
            
            $.getJSON("GetQuestionById", { id: val}, function(questionModel) {
                window.manageAnswerWindow(questionModel);
            }); 
        }

       var detailsTemplate = kendo.template($("#template").html());

      
    });

    
    function maximizeWindowOnLoad() {
       $("#Details").data("kendoWindow");
    }
   
    function showDetails(e) {
        var grid = e.sender;
        var currentDataItem = grid.dataItem(this.select()).QuestionId;
       
       
        $.getJSON("GetQuestionById", { id: currentDataItem}, function(questionModel) {
            window.manageAnswerWindow(questionModel);
        }); 

       
    }
   
    function closeKWin(e) {
          
        var wnd = $("#Details").data("kendoWindow");

        //$("#commentInPopUp").html("");

        
        wnd.close();
      
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
