@model TellToAsk.Model.Question

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answers)
        </dt>

        <dd>
            @foreach (var answer in Model.Answers)
            {
                string isReported = answer.IsReported == true ? "Reported" : "";
                @Html.ActionLink(answer.Comment,
                    "Edit", "Answers", new { id = answer.AnswerId }, new { @class = "list-answer" });  
                <span style="color:red">@isReported</span>
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
